.todos-los-articulos {
    margin-left: 15%;
    margin-right: 30%;
    padding: 5px;
    background-color: lightgray;
    margin-top: -10%;
}

.todos-los-articulos > h1, .articulo {
    margin: 10px;
    padding: 5px;
}

.articulo {
    background: white;
}

.articulo > h2, p {
    margin: 4px;
    font-size: 90%;
}

aside {
    width: 10%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

h1{
    text-align: center;
}

button{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    padding: 1%;
    margin-top: 2%;
}

.tituloDockerLinux{
    display: flex;
    margin-left: 38%;
}

body{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    background-attachment: fixed;
}


table{
    width: 50%;
    margin-left: 1%;
    border: 2px solid grey;
}

td{ 
    border: 3px solid grey;
}

canvas{
    background-color:#333;  
}

.imagenDocker{
    width: 550px;
    height: 341px;
    margin-left: 30px;
    display: block;
}
