.todos-los-articulos {
    margin-left: 15%;
    margin-right: 30%;
    padding: 5px;
    background-color: lightgray;
}

.todos-los-articulos > h1, .browser {
    margin: 10px;
    padding: 5px;
}

.articulo {
    background: white;
}

.articulo > h2, p {
    margin: 4px;
    font-size: 90%;
}
